.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #004C99, #005FAD, #0073C6, #0088E0);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animatedCheck {
  color: white;
}

.animatedCheck:hover {
  color: rgb(68, 255, 68);
  transition: color 0.3s;
}
